{% extends 'base.html' %}

{% block title %}EXCLUIR DOADOR{% endblock title %}

{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3 valign-wrapper" style="min-height: 100vh;">
            <div class="card-panel grey lighten-5 z-depth-1" style="width: 100%;">
                <h3 class="center-align">CONFIRMAÇÃO DE EXCLUSÃO</h3>
                <p class="center-align">Tem certeza que deseja excluir o doador <strong>{{ doador.nome }}</strong>?</p>

                <form method="POST" class="center-align">
                    {% csrf_token %}
                    <button type="submit" class="btn red">CONFIRMAR</button>
                    <a href="{% url 'pesquisar_doador' %}" class="btn blue">CANCELAR</a>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}